@import url("fonts.css");

:root {
  --primary-color: #46a358;
  --text-color: #3d3d3d;
  --light-text: #727272;
  --bg-color: #ffffff;
  --section-bg: #f5f5f5;
  --card-bg: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cera Pro", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* -------------------------------------------------------------------- */

.header {
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.header .container {
  text-align: center;
}

.header .container::after {
  content: "";
  display: block;
  clear: both;
}

.logo,
.nav,
.login-btn {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  float: left;
}

.login-btn {
  float: right;
}

.nav {
  text-align: center;
}

/* -------------------------------------------------------------------- */

.logo img {
  display: block;
  height: 34px;
  width: auto;
}

.menu-item {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin-right: 30px;
}

.menu-link {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}

.menu-link:hover {
  color: var(--primary-color);
}

.menu-link.active {
  color: var(--text-color);
  font-weight: 600;
}

.menu-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
}

.login-btn {
  display: inline-block;
  vertical-align: middle;

  padding: 8px 18px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.login-btn img {
  vertical-align: middle;
  margin-right: 6px;
}

.login-btn span {
  vertical-align: middle;
}

/* -------------------------------------------------------------------- */

.hero {
  background-color: var(--section-bg);
  padding: 40px 0;
  font-size: 0;
}

.hero-content,
.hero-image {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.hero-content {
  width: 50%;
}

.hero-image {
  width: 49%;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
}

.hero-subtitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--light-text);
  margin-bottom: 10px;
}

.hero-title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-title span {
  color: var(--primary-color);
}

.hero-text {
  font-size: 14px;
  color: var(--light-text);
  margin-bottom: 25px;
  max-width: 550px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
}

/* PRODUCTS */
.products {
  padding: 60px 0;
}

.products-wrapper {
  display: flex;
  gap: 30px;
}

.sidebar {
  width: 310px;
  background-color: var(--card-bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.category-list li {
  margin-bottom: 10px;
  margin-left: 15px;
  color: var(--light-text);
  cursor: pointer;
  transition: 0.2s;
}

.category-list li:hover {
  color: var(--primary-color);
}

.category-list li.active {
  color: var(--primary-color);
  font-weight: 600;
}

/* -------------------------------------------------------------------- */

.sale-banner {
  margin-top: auto;
}

.sale-banner img {
  width: 100%;
  display: block;
}

/* -------------------------------------------------------------------- */

.products-content {
  flex: 1;
}

.products-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  gap: 37px;
}

.tab {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--light-text);
  cursor: pointer;
}

.tab.active {
  color: var(--primary-color);
  font-weight: 600;
}

/* -------------------------------------------------------------------- */

.sort {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 2px;
}

.sort-label {
  font-size: 15px;
  font-weight: 400;
  color: var(--light-text);
}

/* -------------------------------------------------------------------- */

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none;
  border: none;
  background: none;
  font-family: "Cera Pro", sans-serif;
  font-size: 15px;
  color: var(--light-text);
  cursor: pointer;
  padding-right: 18px;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: url("../images/products/down.png");
  background-size: contain;
  pointer-events: none;
}

/* -------------------------------------------------------------------- */

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: calc(33.333% - 20px);
  background: var(--card-bg);
  padding: 15px;
}

.card img {
  max-width: 100%;
}

.card-title {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.price {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

/* -------------------------------------------------------------------- */

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
}

.page {
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #3d3d3d;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.page.active {
  background: var(--primary-color);
  color: #fff;
  border: none;
}

.page.next img {
  width: 12px;
  height: 12px;
}

/* PROMO */
.promo {
  padding: 60px 0;
}

.promo-wrapper {
  display: flex;
  gap: 30px;
}

.promo-card {
  position: relative;
  flex: 1;
  background: var(--card-bg);
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.promo-card img {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 260px;
}

.promo-content {
  max-width: 300px;
  text-align: right;
}

.promo-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 900;
}

.promo-content p {
  font-size: 14px;
  color: var(--light-text);
  margin-bottom: 15px;
  font-weight: 400;
}

/* BLOG */
.blog {
  padding: 60px 0;
}

.blog-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.blog-subtitle {
  text-align: center;
  color: var(--light-text);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

.blog-wrapper {
  display: flex;
  gap: 30px;
}

.blog-card {
  flex: 1;
  background: var(--card-bg);
}

.blog-card img {
  width: 100%;
  display: block;
}

.blog-content {
  padding: 15px;
}

.blog-meta {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.blog-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.blog-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-text);
  margin-bottom: 10px;
}

.blog-card a {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color);
}

.blog-content a.active {
  color: var(--primary-color);
}
