@import url("fonts.css");

:root {
  --primary-color: #46a358;
  --secondary-color: #d4edd9;
  --menu-color: #edf3ef;
  --text-color: #3d3d3d;
  --light-text: #727272;
  --bg-color: #ffffff;
  --section-bg: #f5f5f5;
  --card-bg: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cera Pro", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -------------------------------------------------------------------- */

.header {
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SVG */
/* -------------------------------------------------------------------- */

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 25px;
  height: 25px;
  color: var(--text-color);
  stroke: currentColor;
  transition: 0.2s;
}

.icon:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

/* -------------------------------------------------------------------- */

.logo img {
  display: block;
  height: 34px;
  width: auto;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  position: relative;
}

.menu-link {
  position: relative;
  padding-bottom: 15px;
  text-decoration: none;
  color: #3d3d3d;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  opacity: 0;
}

.menu-item:hover > .menu-link::after {
  opacity: 1;
}

/* MENU
/* -------------------------------------------------------------------- */

.child {
  position: absolute;
  top: calc(100% + 17px);
  left: 0;

  background: var(--menu-color);
  min-width: 180px;

  display: none;
}

.parent:hover > .child {
  display: block;
}

.child li {
  position: relative;
}

.child li a {
  display: block;
  padding: 12px 20px;
  color: var(--text-color);
  text-decoration: none;
  text-align: left;
}

.child li:hover {
  background: var(--primary-color);
}

.child li:hover > a {
  color: #fff;
}

.child li.parent > a::after {
  content: "›";
  position: absolute;
  right: 15px;

  opacity: 0;
  transition: 0.2s;
}

.child li.parent:hover > a::after {
  opacity: 1;
  color: #fff;
}

.child.second {
  position: absolute;
  top: 0;
  left: calc(100% + 2px);

  background: var(--menu-color);
  min-width: 180px;

  display: none;
}

.child li.parent:hover > .child.second {
  display: block;
}

/* -------------------------------------------------------------------- */

.login-btn {
  padding: 8px 18px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.login-btn img {
  vertical-align: middle;
  margin-right: 6px;
}

.login-btn span {
  vertical-align: middle;
}

/* -------------------------------------------------------------------- */
.hero {
  background-color: var(--section-bg);
  padding: 40px 0;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  flex: 1;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
}

.hero-subtitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--light-text);
  margin-bottom: 10px;
}

.hero-title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-title span {
  color: var(--primary-color);
}

.hero-text {
  font-size: 14px;
  color: var(--light-text);
  margin-bottom: 25px;
  max-width: 550px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
}

/* Burger */
/* -------------------------------------------------------------------- */
.burger {
  display: none;
  cursor: pointer;
  margin-left: 10px;
}

/* Adaptive */
/* -------------------------------------------------------------------- */
@media (max-width: 992px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    order: -1;
    margin-bottom: 20px;
  }

  .hero-title {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none !important;
  }

  .header-right {
    gap: 10px;
  }

  .login-btn {
    display: none;
  }

  .burger {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-text {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    inset: 0;
    background: #ffffff;

    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.3s;
  }

  .nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@media (max-width: 540px) {
  .hero {
    padding: 20px 0;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-text {
    font-size: 12px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}
